---
layout: null
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Current Members | Hartmann Lab</title>

    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/animate.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
</head>

<body id="page-top">

    {% include nav.html %}

    <section style="padding-top: 120px; padding-bottom: 60px;">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Current Members</h1>
                    <hr class="primary">
                </div>
            </div>

            <div class="row" style="margin-top: 40px;">
                <div class="col-md-4 text-center">
                    <img src="{{ "/img/members/person1.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Person Name" style="margin: 0 auto 15px;">
                    <h3>Dr. Felix Hartmann</h3>
                    <p class="text-muted">Group Leader</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="{{ "/img/members/person2.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Person Name" style="margin: 0 auto 15px;">
                    <h3>Miray Cetin</h3>
                    <p class="text-muted">Postdoctoral Researcher</p>
                </div>
                <div class="col-md-4 text-center">
                    <img src="{{ "/img/members/person3.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Person Name" style="margin: 0 auto 15px;">
                    <h3>Kathleen Schlüter</h3>
                    <p class="text-muted">PhD Student</p>
                </div>
                    <div class="col-md-4 text-center">
                    <img src="{{ "/img/members/person4.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Person Name" style="margin: 0 auto 15px;">
                    <h3>Domenico Calafato</h3>
                    <p class="text-muted">PhD Student</p>
                </div>
                                    <div class="col-md-4 text-center">
                    <img src="{{ "/img/members/person5.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Person Name" style="margin: 0 auto 15px;">
                    <h3>Dr. Loan Vulliard</h3>
                    <p class="text-muted">Postdoctoral Researcher</p>
                </div>
                    <div class="col-md-4 text-center">
                    <img src="{{ "/img/members/person6.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Person Name" style="margin: 0 auto 15px;">
                    <h3>Dr. Yu-Le Wu</h3>
                    <p class="text-muted">Postdoctoral Researcher</p>
                </div>
                   <div class="col-md-4 text-center">
                    <img src="{{ "/img/members/person4.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Person Name" style="margin: 0 auto 15px;">
                    <h3>Jennifer Zimmermann</h3>
                    <p class="text-muted">PhD Student</p>
                </div>
                    <div class="col-md-4 text-center">
                    <img src="{{ "/img/members/person4.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Person Name" style="margin: 0 auto 15px;">
                    <h3>Kilian Merz</h3>
                    <p class="text-muted">PhD Student</p>
                </div>

                    <div class="col-md-4 text-center">
                    <img src="{{ "/img/members/person4.jpg" | prepend: site.baseurl }}" class="img-responsive img-circle" alt="Person Name" style="margin: 0 auto 15px;">
                    <h3>Lara Schneider</h3>
                    <p class="text-muted">Lab Technician</p>
                </div>

            <div class="row" style="margin-top: 40px;">
                <div class="col-lg-12 text-center">
                    <a href="{{ site.baseurl }}/#portfolio" class="btn btn-primary btn-xl">Back to Portfolio</a>
                </div>
            </div>

        </div>
    </section>

    {% include scripts.html %}

</body>
</html>
