<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What do we do?</h2>
                <hr class="light">
                <p class="text-faded">We aim to define the principles that govern immune regulation within complex tissues. 
                    Immune cell function is shaped not only by intrinsic metabolic programs, but by spatially organized metabolic niches arising from multicellular interactions.
                     By integrating single-cell metabolic profiling, spatial proteomics, and computational modeling, we uncover how spatially structured metabolic interactions shape tumor–immune ecosystems and identify vulnerabilities for precision immunotherapy.</p>
            </div>
        </div>
    </div>
</section>
