<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-3 col-sm-6">
                <a href="scientific-program.html" class="portfolio-box">
                    <img src="img/portfolio/scientific-program.jpg" class="img-responsive" alt="Scientific Program">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Research
                            </div>
                            <div class="project-name">
                                Scientific Program
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-sm-6">
                <a href="current-members.html" class="portfolio-box">
                    <img src="img/portfolio/current-members.jpg" class="img-responsive" alt="Current Members">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Team
                            </div>
                            <div class="project-name">
                                Current Members
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-sm-6">
                <a href="training-mentorship.html" class="portfolio-box">
                    <img src="img/portfolio/training-mentorship.jpg" class="img-responsive" alt="Training and Mentorship">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Education
                            </div>
                            <div class="project-name">
                                Training &amp; Mentorship
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-sm-6">
                <a href="public-engagement.html" class="portfolio-box">
                    <img src="img/portfolio/public-engagement.jpg" class="img-responsive" alt="Public Engagement">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Outreach
                            </div>
                            <div class="project-name">
                                Public Engagement
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>